.rollin {
  /* display: grid; */
  z-index: 9999;
  display: flex;
  flex-wrap: wrap-reverse;
}

.shikaku {
  background: linear-gradient(
    #000000,
    #ff0000,
    #0000ff,
    #00ff00,
    #00ffff,
    #ffffff
  );
}
