/* .scrollBody {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

.displaySet {
  flex-direction: row;
} */

.header {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
}

.nav {
  display: inline;

  @apply font-bold;
}
.main {
}

.footer {
  position: fixed;
  bottom: 10px;
  height: 16vh;
  width: 100%;
  left: 10vh;
}

.temp {
  color: gainsboro;
}
